/* You can add global styles to this file, and also import other style files */
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  input[type="file"] {
    display: none;
  }